<div class="blog-post">
  <div class="blog-post-header">
    <div class="blog-post-image">
      <img src="https://placehold.co/80x80" />
    </div>
    <div class="blog-post-info-wrapper">
      <div class="blog-post-info-wrapper-title">{{ title }}</div>
      <div class="blog-post-info-wrapper-date">Posted date: {{ formatDate }} at {{ formatTime }} by Some person</div>
    </div>
  </div>
  <div class="blog-post-content">
    {{ text }}
  </div>
  <div class="blog-post-gallery">
    <img src="https://placehold.co/100x100" />
    <img src="https://placehold.co/100x100" />
    <img src="https://placehold.co/100x100" />
  </div>
</div>
