.toolbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 64px);
}

.sidebar {
  min-width: 250px;
  height: 100%;
  background-color: #f2f2f2;
  top: 64px;
}
.search-field {
  height: 30px;
}
.content {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
}
@media (max-width: 959px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    min-height: 92px;
    max-height: 128px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0px;
  }
}
