<div class="categories-wrapper">
  <button mat-button class="categories-add-new" (click)="openDialog()">Add +</button>
  <div class="categories-item-wrapper">
    <app-blog-categories-item
      name="All"
      [id]="-1"
      [activeId]="selectedCategoryId"
      (clickCategory)="selectCategory(-1)"
    ></app-blog-categories-item>
    <app-blog-categories-item
      name="Uncategorized"
      [id]="0"
      [activeId]="selectedCategoryId"
      (clickCategory)="selectCategory(0)"
    ></app-blog-categories-item>
    <ng-container *ngFor="let item of categories">
      <app-blog-categories-item
        [name]="item.name"
        [id]="item.id"
        [activeId]="selectedCategoryId"
        (deleteEvent)="deleteCategory($event)"
        (clickCategory)="selectCategory($event)"
      ></app-blog-categories-item>
    </ng-container>
  </div>
</div>
